extends layout

block content
  main
    .container
      h3 Weekly Summaries
        - var n = start
        ul
          while n <= end
            li
              a(href="/weeks/#{n}") Week&nbsp;#{n}
                - n++
