footer
  .container
    ul
      li
        a(href="http://github.com/theatlasroom") Github
      li
        a(href="http://github.com/theatlasroom") Twitter
      li
        a(href="http://neighbourhoodjustice.vic.gov.au") Neighbourhood Justice Centre
      li
        a(href="http://codeforaustralia.org") Code for Australia
    p
      | Designed and maintained by:&nbsp;
      a(href="http://github.com/theatlasroom") @theatlasroom
