header
  .container
    .row.text-right
      .col-xs-12
        a(href="http://codeforaustralia.org")
          img(src="/images/logo.png")
    .row
      .col-xs-12
        h1 Code for Australia Fellowship
        h2 Neighbourhood Justice Centre, Collingwood
