extends layout

block content
  main
    .container
      .row
        .col-xs-12
          h2 Reports
      .row
        .col-sm-6.col-xs-12
          ul
            li
              a(href="/reports/research") Mid year (Research report)
            li
              a(href="/reports/final-report") End of year  (Final report)
      .row
        .col-xs-12
          h2 Projects
      .row
        .col-sm-4.col-xs-12
          h3 Online pleas
          ul
            li
              a(href="/info/online-pleas") Summary
            li
              a(href="https://github.com/CodeforAustralia/online-pleas") Github repository
        .col-sm-4.col-xs-12
          h3 Intranet
          ul
            li
              a(href="https://github.com/CodeforAustralia/njc-intranet") Github repository
        .col-sm-4.col-xs-12
          h3 Case triaging
          ul
            li
              a(href="https://github.com/CodeforAustralia/case-triage") Github repository
      .row
        .col-sm-6.col-xs-12
          h2 Presentations
          ul
            li
              span.date May 31, 2016:&nbsp;
              a(href="http://theatlasroom.github.io/presentations/20160531-why-i-node.html") Why I node
            li
              span.date Apr 20, 2016:&nbsp;
              a(href="http://theatlasroom.github.io/presentations/20160420-connect-expo.html") Prototyping public services
            li
              span.date Feb 14, 2016:&nbsp;
              a(href="http://theatlasroom.github.io/presentations/20160214-pausefest.html") Re-building government websites
            li
              span.date Dec 09, 2015:&nbsp;
              a(href="http://theatlasroom.github.io/presentations/20151209-prototyping.html") Paper to pixels
            li
              span.date Nov 17, 2015:&nbsp;
              a(href='http://theatlasroom.github.io/presentations/20151117-smart-gov.html') Smarter public service
            li
              span.date Oct 27, 2015:&nbsp;
              a(href='http://theatlasroom.github.io/presentations/20151027-observations.html') NJC Observations
        .col-sm-6.col-xs-12
          h2 Blog posts
          ul
            li
              a(href="http://www.codeforaustralia.org/blog/pausefest-2016-re-building-a-government-website") Pausefest 2016 - Re-building a government website
            li
              a(href="http://www.codeforaustralia.org/blog/design-prototyping-tips-with-ezekiel-kigbo") Design prototyping tips
            li
              a(href="http://www.codeforaustralia.org/blog/code-for-australia-the-fellowship-experience-with-ezekiel-kigbo") The fellowship experience
