extends layout

block content
  main
    .container
      h3 Hello,
      p This is a space to communicate updates about my fellowship with the NJC, stay tuned for blog posts and more.
      .row
        .col-xs-6
          h3 Presentations
          ul
            li
              span.date Feb 14, 2016:&nbsp;
              a(href="http://theatlasroom.github.io/presentations/20160214-pausefest.html") Re-building government websites
            li
              span.date Dec 09, 2015:&nbsp;
              a(href="http://theatlasroom.github.io/presentations/20151209-prototyping.html") Paper to pixels
            li
              span.date Nov 17, 2015:&nbsp;
              a(href='http://theatlasroom.github.io/presentations/20151117-smart-gov.html') Smarter public service
            li
              span.date Oct 27, 2015:&nbsp;
              a(href='http://theatlasroom.github.io/presentations/20151027-observations.html') NJC Observations
        .col-xs-6
          h3 Blog posts
          ul
            li
              a(href="http://www.codeforaustralia.org/blog/pausefest-2016-re-building-a-government-website") Pausefest 2016 - Re-building a government website
            li
              a(href="http://www.codeforaustralia.org/blog/design-prototyping-tips-with-ezekiel-kigbo") Design prototyping tips
            li
              a(href="http://www.codeforaustralia.org/blog/code-for-australia-the-fellowship-experience-with-ezekiel-kigbo") The fellowship experience
