doctype html
html
  head
    title NJC Fellowship | Code for Australia
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet/less', type='text/css', href='/less/style.less', media='screen', title='no title', charset='utf-8')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', media='screen', title='no title', charset='utf-8')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
  body.njc
    include ./general-header.jade
    block content
    include ./general-footer.jade
    include ./analytics.jade
