extends info-layout

block content
  main
    .container
      h2
        a#Online_Pleas_0
        | Online Pleas
      h3
        a#Improved_access_to_court__efficiency_for_courts__police_1
        | Improved access to court + efficiency for courts & police
      p
        | Queensland courts have introduced a digital service to submit guilty pleas for minor offences. The court retains the right to reject a guilty plea and schedule a further hearing; but in most cases an accepted plea results in a fine, notified via mail according to normal process. Running at three locations for almost 12 months, the trial has been highly successful, with positive feedback from court users and estimated 250 hours processing saved at each location.
      p
        | NJC has developed a
        a(href='http://njc.codeforaustralia.org/online-pleas') simple prototype
        |  in partnership with Code4Australia. This gathered positive feedback from registry staff, lawyers and VicPol. The prototype demonstrates how a guilty plea could be lodged online prior to the scheduled court date for non-complex minor offences - typically these offences comprise nearly 50% of MCV’s case volume:
      ul
        li Traffic offences- Theft (Shop Steal)
        li Transit offences- Theft (from Motor Car)
        li Behaviour in Public- Theft (Bicycle)
      h2
        a#Proposed_pilot_at_NJC_10
        | Proposed pilot at NJC
      p
        | NJC can offer to pilot the digital service with an initial simple selection of offences to evaluate the service, gather metrics and gauge the potential for other offences (that may include elements of restitution, forfeiture or additional client services).
      p To prepare for pilot launch we are currently:
      ol
        li
          | Verifying legislative/policy compliance for an online declaration
          br
          | (Qld uses a simple check-box format)
        li Engaging Yarra VicPol leadership
        li Integrating online pleas with regular registry processing
        li Engaging stakeholders for decision on pilot.
      h2
        a#Benefits_22
        | Benefits
      ul
        li Registry - Reduce processing for non-complex court matters
        li Court – Some hearings could be flexibly scheduled into off-peak periods
        li Court users - Visits to court can be avoided for minor non-complex offences
        li
          | Also delivers recommendation in BCG review to treat transactional (low-complexity, low-needs) cases through digital channels
        li
          | The court retains the power to determine that a matter should be heard, via ability to reject a guilty plea.
      p
        | The prototype can be viewed at:
        a(href='http://njc.codeforaustralia.org/online-pleas') http://njc.codeforaustralia.org/online-pleas
