extends layout

block content
  main
    .container
      h3 NJC Prototypes
      h4 Client facing tools
      ul
        li
          a(href="http://njc-efv.herokuapp.com") Electronic access to documents
        li Calendar of appointments
        li Online adjournments (possibly)

      h4 Internal
      ul
        li
          a(href="http://njc-intranet.herokuapp.com") NJC Intranet
        li
          a(href="http://njc-intranet.herokuapp.com") In/Out board alternative
        li Knowledge sharing / internal comms
        li Family violence case history


      h4 Community / External
      ul
        li
          a(href="https://app.moqups.com/ekigbo/5ZBPPdq0mn/view/page/a1c9a6a86") Strengthening the City of Yarra - NJC Map
        li NJC Website
      //
        h4 Electronic access to documents
        ul
          li
            a(href="http://njc-efv.herokuapp.com") Live demo
        h4 NJC map
        ul
          li
            a(href="https://app.moqups.com/ekigbo/5ZBPPdq0mn/view/page/a1c9a6a86") Moqups
        h4 Updates dashboard
        ul
          li
            a(href="http://njc-updates-dash.herokuapp.com/login") Live demo
        h4 NJC Intranet
        ul
          li
            a(href="http://njc-intranet.herokuapp.com") Live demo
