extends layout

block content
  header
    .container
      .row.text-right
        .col-xs-12
          a(href="http://codeforaustralia.org")
            img(src="/images/logo.png")
      .row
        .col-xs-12
          h1 Code for Australia Fellowship
          h2 Neighbourhood Justice Centre, Collingwood
  main
    .container
      h3 NJC Prototypes
      h4 Electronic access to documents
      ul
        li
          a(href="http://njc-efv.herokuapp.com") Live demo
      h4 NJC map
      ul
        li
          a(href="https://app.moqups.com/ekigbo/5ZBPPdq0mn/view/page/a1c9a6a86") Moqups
      h4 Updates dashboard
      ul
        li
          a(href="http://njc-updates-dash.herokuapp.com/login") Live demo
      h4 NJC Intranet
      ul
        li
          a(href="http://njc-intranet.herokuapp.com") Live demo

  footer
    .container
      ul
        li
          a(href="http://github.com/theatlasroom") Github
        li
          a(href="http://github.com/theatlasroom") Twitter
        li
          a(href="http://neighbourhoodjustice.vic.gov.au") Neighbourhood Justice Centre
        li
          a(href="http://codeforaustralia.org") Code for Australia
      p
        | Designed and maintained by:&nbsp;
        a(href="http://github.com/theatlasroom") @theatlasroom
