extends layout

block content
  header
    .container
      .row
        .col-xs-8
          h1 Week ##{week} summary
        .col-xs-4.text-right
          img(src="/images/logo.png")
  main
    .container !{html}
  footer
    .container
