#research-report {
  font-size:16pt;
  font-weight:200;
  line-height: 1.75em;
  background:@secondary-bg;
  color:@body;
}

.container-full {
  max-width:100%;
  padding:0;
  margin:0;
  width:100%;
  height:auto;
}

.img-crop {
  background-position:0 20%;
  background-repeat: no-repeat;
  background-size:cover;
  height:50vh;
}

header, .metrics, main, footer {
  padding-top:1em;
  padding-bottom:1em;
}

ul {
  list-style-type: square;
  margin-left:0;
}

a {
  color:@primary-bg;
  border-bottom:solid 0.05em;
  &.img {border:none;}
  &:hover{
    text-decoration:none;
  }
}

header, .metrics {
  background:@primary-bg;
  color:@secondary-bg;
  a {color:@secondary-bg;}
}


main {
  font-size:0.8em;
  h2 {
    font-size:1.5em;
    font-weight:bold;
    display:inline-block;
    text-transform: uppercase;
  }

  h3 {
    font-size:1.25em;
  }

  section {
    margin:@gutter * 2 0;
  }

  .metrics {

    .metrics-title {
      font-size:2em;
      margin:0 0 1em 0;
    }

    font-size:12pt;
    .metric-focus {
      margin-top:0.5em;
      font-size:3em;
    }

    .metric-summary {
      margin-bottom:0.5em;
      font-size:1.5em;
      text-transform: uppercase;;
    }

    .metric-value {
      font-weight:bold;
    }

    .metric {
      margin-bottom:1em;
      ul {
        padding:0;margin:0;
        li {list-style-type: none;}
      }
    }
  }
}
