#research-report {
  font-size:12pt;
  font-weight:200;
  line-height: 1.75em;
  color:@body;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #research-report {
    font-size:17pt;
    .metrics .metric-focus {margin-top:1.5em;}
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}

.container-full {
  max-width:100%;
  padding:0;
  margin:0;
  width:100%;
  height:auto;
}

header {
  .sub-title {
    font-size:smaller;
    font-weight:bold;
    text-transform: uppercase;
  }
}

.img-crop {
  background-position:0 20%;
  background-repeat: no-repeat;
  background-size:cover;
  height:50vh;
}

header, .metrics, main, footer {
  padding-top:1em;
  padding-bottom:1em;
}

ul {
  list-style-type: square;
  margin-left:0;
  padding:0 @gutter;
  li {padding-left:@gutter/2;}
}

a {
  color:@primary-bg;
  border-bottom:solid 0.05em;
  &.img {border:none;}
  &:hover{
    text-decoration:none;
  }
}

header, .metrics {
  background:@primary-bg;
  color:@secondary-bg;
  a {color:@secondary-bg;}
}

#sources {
  ul {
    padding:0 @gutter;
    li {list-style-type:square;display:list-item;padding-left:@gutter/2;}
  }
}

#credits {
  margin-top:@gutter;
  padding-top:@gutter;
  border-top:dotted 0.01em;
}

header, main, footer {
  p, ol, ul, blockquote {font-size:0.9em;}
}

main {
  h2, h3, h4 {margin:@gutter 0;}
  h2 {
    margin-top:0;
    font-size:1.5em;
    font-weight:bold;
    display:inline-block;
    text-transform: uppercase;
  }

  h3 {
    font-size:1.125em;
  }

  section {
    margin:@gutter*2 0;
  }

  .metrics {
    font-size:11pt;

    .metrics-title {
      font-size:2em;
      margin:0 0 1em 0;
    }


    .metric-focus {
      font-size:3em;
    }

    .metric-summary {
      margin-bottom:0.5em;
      font-size:1.5em;
      text-transform: uppercase;;
    }

    .metric-value {
      font-weight:bold;
    }

    .metric {
      margin-bottom:1em;
      ul {
        font-size:1em;
        padding:0;margin:0;
        li {list-style-type: none;padding:0;}
      }
    }
  }
}
