extends layout

block content
  header
    h1 Reporting back - Research

  main
    section
      include:markdown ../notes/research/shadowing.md
    section
      include:markdown ../notes/research/learned.md
    section
      include:markdown ../notes/research/working-on.md
    section
      include:markdown ../notes/research/opportunities.md

  footer
