extends layout

block content
  header
    h1 NJC Research
    p August 24, 2015 - November 30, 2015
  main
    section
      include:markdown ../notes/research/shadowing.md
    section
      include:markdown ../notes/research/learned.md
    section
      include:markdown ../notes/research/working-on.md
    section
      include:markdown ../notes/research/opportunities.md
  footer
