extends layout

block content
  #research-report
    header
      .container-fluid
        .row
          .title.col-xs-8
            h1 NJC Research
            p August 24, 2015 - November 30, 2015
          .logo.text-xs-right.col-xs-4
            a.img(href="http://codeforaustralia.org")
              img(src="/images/logo-white.png")
    #stats
      .container-fluid
        h1 Stats
    main
      .container-fluid#content
        section
          include:markdown ../notes/research/shadowing.md
        section
          include:markdown ../notes/research/learned.md
        section
          include:markdown ../notes/research/working-on.md
        section
          include:markdown ../notes/research/opportunities.md
    footer
      .container-fluid
        ul
          li
            a(href="http://github.com/theatlasroom") Github
          li
            a(href="http://github.com/theatlasroom") Twitter
          li
            a(href="http://neighbourhoodjustice.vic.gov.au") Neighbourhood Justice Centre
          li
            a(href="http://codeforaustralia.org") Code for Australia
        p
          | Designed and maintained by:&nbsp;
          a(href="http://github.com/theatlasroom") @theatlasroom
