.col-xs-12
  h1.metrics-title By the numbers
.metric.col-xs-12.col-sm-6
  h2.metric-focus <span class="fa fa-calendar"></span> 60 Days
.metric.col-xs-12.col-sm-6
  h3.metric-summary <span class="fa fa-clock-o"></span> <span class="metric-value">358.5</span> Hours
  ul
    li <span class="metric-value">203.5</span> at Neighbourhood Justice Centre
    li <span class="metric-value">82</span> From Home
    li <span class="metric-value">73</span> at TeamSquare
.metric.col-xs-12.col-sm-6
  h3.metric-summary <span class="fa fa-subway"></span> <span class="metric-value">130</span> Journeys taken
  ul.col-xs-12.col-sm-6
    li <span class="metric-value">51</span> by Bus
    li <span class="metric-value">46</span> by Tram
    li <span class="metric-value">16</span> by Driving
  ul.col-xs-12.col-sm-6
    li <span class="metric-value">9</span> by Train
    li <span class="metric-value">8</span> by Cycling
.metric.col-xs-12.col-sm-6
  h3.metric-summary <span class="fa fa-coffee"></span> <span class="metric-value">85</span> Beverages consumed
  ul.col-xs-12.col-sm-6
    li <span class="metric-value">40</span> Instant coffees
    li <span class="metric-value">22</span> Soy Flat White from a Cafe
    li <span class="metric-value">14</span> Teas
  ul.col-xs-12.col-sm-6
    li <span class="metric-value">6</span> Espresso made at TeamSquare
    li <span class="metric-value">3</span> Perculator
